*{
    font-family: sans-serif;
}
body{
     height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
   background-image: linear-gradient(120deg, #a1c4fd 0%, #94ddff 100%);
}
h1{
    text-align: center;
    text-transform: uppercase;
    color:crimson;
}
.calculator{
    width:400px;
    border:1px solid;
    padding:20px;
    background-color: aliceblue;
     box-shadow: 0px 12px 12px rgb(70, 70, 70,0.2);
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}
#display{
    height:40px;
    padding:10px;
    font-size: 30px;
}
.button{
    font-size: 30px;
    font-family: sans-serif;
    background-color: rgb(65, 65, 65);
    color: white;
    box-shadow: 0px 12px 12px rgb(70, 70, 70,0.2);
    padding:5px 15px;
}
.button:nth-child(4),
.button:nth-child(8),
.button:nth-child(12),
.button:nth-child(15) {
    background: rgb(64, 179, 255);
    border: none;
}
.button:nth-child(16){
    background: crimson;
}

